{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="show-slides" class="center">
  <div id="slides" class="center">
    <div class="slides_container" class="center">	
	  <div class="slide">
    	<a href="http://www.flickr.com/photos/jliba/4665625073/" target="_blank"><img src="{{ img_dir }}/slide-1.jpg" alt="Slide 1"/></a>
        <div class="caption">
        <p>Happy Bokeh Thursday!</p>
		</div>
	  </div>
	  <div class="slide">
        <a href="http://www.flickr.com/photos/stephangeyer/3020487807/" target="_blank"><img src="{{ img_dir }}/slide-2.jpg" alt="Slide 2"/></a>
		<div class="caption">
          <p>Taxi</p>
        </div>
      </div>
      <div class="slide">
        <a href="http://www.flickr.com/photos/stephangeyer/3469233480" target="_blank"><img src="{{ img_dir }}/slide-3.jpg" alt="Slide 3"/></a>
		<div class="caption">
          <p>Blindsided</p>
        </div>
      </div>
      <div class="slide">
		<a href="http://www.flickr.com/photos/b-tal/117037943/" target="_blank"><img src="{{ img_dir }}/slide-4.jpg"alt="Slide 4"/></a>
        <div class="caption">
          <p>We Eat Light</p>
        </div>
      </div>
      <div class="slide">
		<a href="http://www.flickr.com/photos/stephangeyer/3293386770" target="_blank"><img src="{{ img_dir }}/slide-5.jpg" alt="Slide 5"/></a>
        <div class="caption">
          <p>In Prelight Isolate</p>
        </div>
      </div>
      <div class="slide">
		<a href="http://www.flickr.com/photos/stephangeyer/3150773337" target="_blank"><img src="{{ img_dir }}/slide-6.jpg" alt="Slide 6"/></a>
        <div class="caption">
          <p>Sumo Sushi</p>
        </div>
      </div>
      <div class="slide">
		<a href="http://www.flickr.com/photos/aftab/3152515428/" target="_blank"><img src="{{ img_dir }}/slide-7.jpg" alt="Slide 7"/></a>
        <div class="caption">
          <p>Save my love for loneliness</p>
        </div>
      </div>
    </div>
	<a href="#" class="prev">
	  <img src="{{ img_dir }}/arrow-prev.png" alt="Arrow Prev" width="24" height="43"/>
	</a>
	<a href="#" class="next">
	  <img src="{{ img_dir }}/arrow-next.png" alt="Arrow Next" width="24" height="43"/>
	</a>
  </div>
  <img alt="Slides Frame" src="{{ img_dir }}/slides-frame.png" id="frame"/>
</div>
{% endblock %}

